<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <ul>
      <% @files.each do |file_name| %>
        <li><a href=<%= file_name %>> <%= file_name %></a></li>
      <% end %>
    </ul>
    <a href='/?order=<%= @sort %>'>Sort <%= @sort %></a>
  </body>

</html>
